<div class="animated fadeIn">
<div class="hero-unit hero-6">
  <div class="container hero-content">
        <h1>Lost Property</h1>
        <h2>For when you've gone really big and left most of your shit behind</h2>
  </div>
</div>

<div class="container spacer">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Contact Us about Lost Property</h2>
      <p>Gone big eh? Lost various items including much of your clothing? Time to fill in our lost property form</p>
      <p>This form goes straight to the guys and gals with the box of lost-property for each night. As you can imagine, we get a lot of crap handed in and we do our best to return everything we find.</p>
     
      </div>
  </div>
</div>
<div class="light-grey-band">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
      <form>
        <div class="form-group">
          <label for="name">Your Name</label>
          <input type="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter name">
        </div>

        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We never share your email with anyone else. This is not used for marketing</small>
        </div>

        <div class="form-group">
          <label for="tel">Mobile Number</label>
          <input type="tel" class="form-control" id="tel" aria-describedby="telHelp" placeholder="Enter your mobile number">
          <small id="telHelp" class="form-text text-muted">We never share your mobile with anyone else. This is not used for marketing</small>
        </div>

        <div class="form-group">
          <label for="date">Event Date</label>
          <input type="date" class="form-control" id="date" aria-describedby="dateHelp" placeholder="">
          
        </div>

        <div class="form-group">
          <label for="message">Description of lost items</label>
          <textarea class="form-control" id="message" rows="3" placeholder="Please be detailed. Include colours, makes, models. Anything you think distinguishes your item."></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        
      </form>
      <p class="spacer">If you hear nothing back from us after 48hrs unfortunately that means we simply haven't found it :( </p>
      </div>
    </div>
  </div>
</div>
</div>
