<div class="container spacer">
  <h1>Ticketing Terms and Conditions</h1>

    <h3 class="red">Tickets</h3>
    <p>The purchase of a ticket constitutes acceptance of these Terms and Conditions.<br>
    The ticket will remain the property of Carpe Noctum Ltd which has the right to recall the ticket at any time. Possession of a ticket does not confer any rights on You to use, alter, copy or otherwise deal with any of the symbols or intellectual property appearing on the ticket.
     </p>

    <h3 class="red">Use of Ticket</h3>
    <p>The Ticket is issued to you for your personal use only.  You purchase the Ticket in your personal capacity and not as agent for any third party.  You may not sell or otherwise transfer the ticket to others if prohibited by law, exploit the Ticket commercially or non-commercially or use it for promotional purposes, hospitality purposes, competitions or campaigns.</p>

    <p>Any ticket obtained in breach of any clauses in the Ticketing Terms and Conditions shall be void and all rights conferred by such ticket, including the right of entrance, shall be immediately rendered void and withdrawn.  We reserve the right to confiscate such Ticket, to deny access to the ticket holder, or to reject anyone who has used such ticket to gain access, without having any obligation to refund the purchase price to You.</p>

    <p>Carpe Noctum Ltd shall not be obliged to issue a replacement for any lost, stolen, illegible, defaced or destroyed tickets, but may do so in its sole discretion.  Duplicate tickets may not be issued if there is a possibility of both the original and duplicate tickets being used, compromising the licensed capacity of the Venue.</p>


    <h3 class="red">Return, Refund and Cancellation Policy</h3>
      <p>Purchasers of tickets will be entitled to a refund in the following circumstances:
        <ul>
          <li>The entire event is cancelled</li>
          <li>The date of the event changes</li>
          <li>The venue of the event changes</li>
          <li>The act associated with the event changes beyond a reasonable level</li>
          <li>Their admission time has taken longer than 45 minutes</li>
        </ul>
        Refund requests not associated with one of the reasons stated above will be considered but are not obliged to be granted.<br>
        Tickets that have an expiry time stated on them must be at least in the queue for entry by the expiry time. The ticket expiry time may also be refered to as the "ticket cut-off" or "ticket deadline".<br>
        No refunds will be issued for ticket holders who have missed the expiry time stated on their ticket.<br>
        No refunds will be issued to customers failing to provide proof of age ID.<br>
        No refunds will be issued to customers failing to gain entry due to excessive intoxication by alcohol or illegal drugs.

      </p>

    <h3 class="red">Delivery Policy</h3>
    <p>All tickets will be delivered to the buyer immediately following the checkout via an email with a link to download your pdf ticket or with the pdf ticket attached.</p>

    <h3 class="red">Minimum Age</h3>
    <p>All ticket purchasers must be over the age of 18 years old and required proof of age. Failure to provide proof of age may result in a refusal of entry.</p>

    <h3 class="red">Entry Requirements</h3>
    <p>The event is primarily a student night and, as a result, student ID is required for entry. Non-student guests will be permitted as guests of students where the ratio of the group is one student to one non student.<br>
    Tickets must be used by their stated expiry times.<br>
    Customers deemed to be too intoxicated will not be admitted to the venue.<br>
    The venue reserves the right to refuse admission to any person at the Event if, in the reasonable opinion of security or venue management, their admission might be a risk to the safety of other attendees and/or affect the enjoyment of the other attendees and/or the running of the Event. For example, if a person appears to be under the influence of alcohol, drugs and/or is acting aggressively they will not be admitted.</p>

    <h3 class="red">Ticket Reselling</h3>
    <p>The reselling of tickets is not permitted<br>
    We accept no responsibility for any tickets not purchased directly from our website or from one of our ticket representatives.</p>

    <h3 class="red">Late Entry Tickets</h3>
    <p>Customers who have purchased a ticket type called "late entry tickets" will be permitted access to the venue only when sufficient capacity is available. Whilst we will try our best to ensure no delay, you may be required to wait for a period of time if space is not immediately available.<br>
    This ticket type may also be known as a "standby ticket" or "after 1:30am" ticket.</p>

    <h3 class="red">Security of Card Payments</h3>
    <p>We take security very seriously and implement 3d Secure and CVV2 and CVC2 verification.</p>

    <h3 class="red">General</h3>
    <p>If Carpe Noctum Ltd or the venue fail to enforce any of its rights and obligations under these Terms and Conditions it shall not mean that it has waived its rights to do so.</p>

    <h3 class="red">FORCE MAJEURE</h3>
    <p>Carpe Noctum Ltd shall be excused performance if it is prevented from performing its obligations by any event beyond its reasonable control including but not limited to war, riot, civil commotion, strike, lock-out or some other industrial action, unavailability of telecommunications services, Act of God, storm, fire, earthquake, explosion, flood, electrical failure, confiscation and action of any government or governmental agency.</p>

    <h3 class="red">CHOICE OF LAW AND JURISDICTION</h3>
    <p>These terms shall be interpreted according to English law and the parties submit to the exclusive jurisdiction of the English courts.</p>




</div>











